*.cache
*.o
*.spec
*.tar.gz
.*.swp
.deps/
cscope.*
ABOUT-NLS
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
compile
confdefs.h
config.h
config.h.in
config.log
config.rpath
config.status
configure
depcomp
gtkcomm.lang
install-sh
intl
m4
missing
mkinstalldirs
po/*.gmo
po/*.pot
po/POTFILES
po/cat-id-tbl.c
res/gtkrc
src/gtkcomm
src/gtkcomm_lock
stamp-*
