aclocal.m4
stamp-*
Makefile.in
confdefs.h
config.log
configure
config.h
config.h.in
*.cache
config.status
Makefile
*.tar.gz
*.spec
ABOUT-NLS
config.rpath
intl
m4
mkinstalldirs
.*.swp
COPYING
INSTALL
depcomp
gtkcomm.lang
